html, body, #main-container {
    height: 100%;
    background-color: #E9E0F1;
}

#main-container .row .col-2 {
    height: 100vh;
}

#main-container .row .col-8 {
    height: 100vh;
}

#right-container {
    background-color: #E9E0F1;
}

#left-container {
    background-color: #1D1C1E;
}

#flashcard-container {
    height: 50vh;
    width: 75vh;
    margin-top: 7vh;
    background-color: #EEEEEE;
}

#flashcard-buttons {
    margin-top: 5vh;
}

li {
    display: flex;
    justify-content: space-between;
}

li p {
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: -5px;
    font-family: 'Montserrat', sans-serif;

}

.list-group-item {
    background-color: #E8F1E0;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 10vh auto;
}

#page-header {
    margin-top: 10vh;
    font-family: 'Pacifico', cursive;
    font-size: 75px;
}

#page-title {
    margin-top: 2vh;
    font-family: 'Pacifico', cursive;
    font-size: 75px;
}

#front {
    margin-top: 16vh;
    font-size: 2.5vw;
}

#back {
    margin-top: 13vh;
    font-size: 1.5vw;
}

.footer {
    background-color: #E8F1E0;
    overflow: hidden;
    float: left;
    bottom: 0;
    width: 16.7%;
    padding: 8px 10px;
    font-family: 'Montserrat', sans-serif;
}

#deck-title {
    margin-top: 2vh;
    color: #fff;
    font-family: 'Pacifico', cursive;
}